<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <h1>Server is running.</h1>
        <button type="button" onclick="window.open('/api-docs');" style="cursor: pointer">RESTful API List</button>
    </body>
</html>
